<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/styles/adminedit.css">
</head>
<body>
    <h2>Enter new username  - </h2>
    <br>
    <form action="/admin/edit" method="post">
        <input type="text" name="id" value="<%=user.id%>" hidden>
        <input type="text" name="email" value="<%=user.email %>">
        <button>submit</button>
    </form>

</body>
</html>