@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}
.login-form{
  position: relative;
  width: 370px;
  height: auto;
  background: #ffffff;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border-radius: 5px;
}
.text{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
}
form{
  margin-top: 40px;
}
form .field{
  margin-top: 20px;
  display: flex;
}
.field .fas{
  height: 50px;
  width: 60px;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #444;
  border-right: none;
  border-radius: 5px 0 0 5px;

}
.field input,form button{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  /* color: #868686; */
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  /* caret-color: #339933; */
  /* background: linear-gradient(#333,#222); */
}

button{
  margin-top: 30px;
  border-radius: 5px!important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.link{
  margin-top: 25px;
  color: #636161;
}
.link a{
  text-decoration: none;
  color: black;
}
.link a:hover{
  text-decoration: underline;
}